<%- include('partials/header'); -%>

<div class="container">
    <div class="col-12 text-center py-4">
        <h3>Wellcome Home</h3>

        <a href="/main">Main</a>
    </div>
</div>

<%- include('partials/footer'); -%>